* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light" ;
    color: #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #0b0b0b;
    z-index: 10;
    padding: 20vh 10vw;
}

#l1 {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#l1t1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#l1t1 h5 {
    font-size: 4vw;
    font-weight: 500;
    font-family: "silk serif";
}

#l1 h1 {
    font-size: 6vw;
    font-weight: 900;
}

#l1 h2 {
    font-size: 4.6vw;
    font-weight: 900;
    animation-name: now;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

#first{
   text-align: right;
   width: 6vw;
}

@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        color: transparent;
        opacity: 0;
    }
}

#crsr {
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    border: 1.6px solid #7f7e7e;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50% ,-50%);
}

#main {
    position: relative;
    background-color: #151515;
}

#page1 {
    height: 100vh;
    width: 100%;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.7vw 4.6vw;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.8vw;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.6vw;
}

#nav2 h4 {
    font-size: 1vw;
    font-weight: 400;
}

#hero {
    display: flex;
    align-items: right;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

.hero1{
    margin-top: 7.8vw;
}

.hero3 span {
    text-decoration: underline #ffffff solid 0.6vw;
}

.hero3 span:hover {
    -webkit-text-stroke: 0.5px #ffffff;
    color: transparent;
    text-decoration: none;
}

#hero h1 {
    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#page1-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
}

#page1-right {
    margin-left: -2.5%;
}

#page1-left h2 {
    font-size: 3vw;
    font-weight: 600;
    font-family: "silk serif";
    position: absolute;
    top: 40%;
    padding-top: 40%;
}

#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 25vh;
    position: relative;
}

#vid {
    height: 65vh;
    width: 70vw;
    left: 28%;
    position: relative;
    overflow: hidden;
    background-image: url(./img&vid/vidimg.jpg);
}

#vid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#vid video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#vid-crsr {
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 50%;
    background-color: #ffa63d;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15%;
    top: 18%;
    z-index: 99;
    font-size: 2vw;
}

#page3 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
}

#page3-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
    width: 30%;
    padding-top: 2%;
}

#page3-left h2 {
    font-size: 3vw;
    font-weight: bold;
    font-family: "silk serif";
    position: absolute;
}

#page3-right {
    display: flex;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

#page3-right h1 {

    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#page3-line {
    height: 2px;
    width: 65%;
    background-color: #ffffff;
    margin: 12vw;
    position: absolute;
    margin-left: 30%;
}

#projects {
    min-height: 100vh;
    width: 100%;
    margin-top: 2vw;
}

#project1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

 #project1-first {
    height: 87vh;
    width: 24%;
    gap: 1.5vw;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 4vw;
    border-bottom: 2px solid #ffffff;
    margin-top: -2vw;
}

#project1-first img {
    height: 65vh;
    width: 50vh;
    object-fit: cover;
}

#project1-first h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project1-first-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project1-first-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project1-second {
    height: 110vh;
    width: 33.6%;
    gap: 1.5vw;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 2px solid #ffffff;
    margin-left: 0.1vw;
}

#project1-second img {
    height: 90vh;
    width: 70vh;
    object-fit: cover;
}

#project1-second h1 {
    font-size: 2.4vw;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    margin: -2vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
}

.project1-second-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project1-second-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project1-third {
    height: 120vh;
    width: 32%;
    gap: 1.5vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -9vw;
}

#project1-third h1 {
    font-size: 3vw;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

#project1-third i {
    font-size: 8vw;
    color: transparent;
    padding: 7vw;
    -webkit-text-stroke: 0.4px #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

#project2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#project2-first {
    height: 120vh;
    width: 23%;
    gap: 1.5vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 2vw;
}

#project2-first i {
    font-size: 8vw;
    color: transparent;
    padding: 7vw;
    -webkit-text-stroke: 0.4px #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

#project2-second {
    height: 110vh;
    width: 31%;
    gap: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid #ffffff;
    margin-top: 7.5vw;
}

#project2-second img {
    height: 80vh;
    width: 65vh;
    object-fit: cover;
}

#project2-second h2 {
    font-size: 3vw;
    font-weight: 600;
}

.project2-second-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

#project2-third {
    height: 115vh;
    width: 33%;
    gap: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid #ffffff;
    padding-right: 5vw;
    padding-top: -5vw;
    margin-right: 2vw;
}

#project2-third img {
    height: 90vh;
    width: 68vh;
    object-fit: contain;
}

#project2-third h2 {
    font-size: 3vw;
    font-weight: 600;
}

.project2-third-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project2-third-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#page4 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}