* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light" ;
    color: #ffffff;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #0b0b0b;
    z-index: 10;
    padding: 20vh 10vw;
}

#l1 {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#l1t1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#l1t1 h5 {
    font-size: 4vw;
    font-weight: 500;
    font-family: "silk serif";
}

#l1 h1 {
    font-size: 6vw;
    font-weight: 900;
}

#l1 h2 {
    font-size: 4.6vw;
    font-weight: 900;
    animation-name: now;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

#first{
   text-align: right;
   width: 6vw;
}

@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #ffffff;
        font-weight: 900;
        color: transparent;
        opacity: 0;
    }
}

#crsr {
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    border: 1.6px solid #7f7e7e;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50% ,-50%);
}

#main {
    position: relative;
    background-color: #151515;
}

#page1 {
    height: 100vh;
    width: 100%;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.7vw 4.6vw;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.8vw;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.6vw;
}

#nav2 h4 {
    font-size: 1vw;
    font-weight: 400;
}

#hero {
    display: flex;
    align-items: right;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

.hero1{
    margin-top: 7.8vw;
}

.hero3 {
    position: relative;
    z-index: 9;
}

.hero3 span {
    text-decoration: underline #ffffff solid 0.6vw;
}

.hero3 span:hover {
    -webkit-text-stroke: 0.5px #ffffff;
    color: transparent;
    text-decoration: none;
}

#hero h1 {
    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#page1-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
    margin-top: -2vw;
}

#page1-right {
    margin-left: -2.5%;
    margin-top: -2vw;
}

#page1-left h2 {
    font-size: 3vw;
    font-weight: 600;
    font-family: "silk serif";
    position: absolute;
    top: 40%;
    padding-top: 40%;
}

#flag {
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50% ,-50%);
    opacity: 0;
}

#page2 {
    height: 100vh;
    width: 100%;
    padding-top: 25vh;
    position: relative;
}

#vid {
    height: 65vh;
    width: 70vw;
    left: 28%;
    position: relative;
    overflow: hidden;
    background-image: url(./img&vid/vidimg.jpg);
}

#vid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

#vid video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#vid-crsr {
    height: 10vw;
    width: 10vw;
    position: absolute;
    border-radius: 50%;
    background-color: #ffa63d;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15%;
    top: 18%;
    z-index: 99;
    font-size: 2vw;
}

#page3 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
}

#page3-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
    width: 30%;
    padding-top: 2%;
}

#page3-left h2 {
    font-size: 3vw;
    font-weight: bold;
    font-family: "silk serif";
    position: absolute;
}

#page3-right {
    display: flex;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

#page3-right h1 {

    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#page3-line {
    height: 2px;
    width: 65%;
    background-color: #ffffff;
    margin: 12vw;
    position: absolute;
    margin-left: 30%;
}

#projects {
    min-height: 100vh;
    width: 100%;
    margin-top: 2vw;
}

#project1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

 #project1-first {
    height: 87vh;
    width: 24%;
    gap: 1.5vw;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 4vw;
    border-bottom: 1px solid #ffffff;
    margin-top: -2vw;
    overflow: hidden;
}

#project1-first {
    position: relative;
}

#project1-first #img-div{
    width: 100%;
    height: 100%;
    position: relative;
}

#project1-first #img-div img {
    height: 65vh;
    width: 50vh;
    object-fit: cover;
    position: absolute;
}

#project1-first h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project1-first-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5vw;
}

.project1-first-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project1-second {
    height: 110vh;
    width: 33.6%;
    gap: 1.5vw;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    margin-left: 0.1vw;
}

#project1-second img {
    height: 90vh;
    width: 70vh;
    object-fit: cover;
}

#project1-second h1 {
    font-size: 2.4vw;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    margin: -2vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
}

.project1-second-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project1-second-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project1-third {
    height: 120vh;
    width: 32%;
    gap: 1.5vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -9vw;
}

#project1-third h1 {
    font-size: 3vw;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

#project1-third i {
    font-size: 8vw;
    color: transparent;
    padding: 7vw;
    -webkit-text-stroke: 0.4px #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: scale 0.3s ease-in-out;
}

#project1-third #arrow-p1 {
    height: 48vh;
    width: 22.5%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: scale 0.5s ease;
}

#arrow-p1 p {
    width: 90%;
    color: #000;
    text-align: center;
    font-family: "Plain Light";
    transition: color 0.5s ease;
}

#project1-third i:hover + #arrow-p1 {
    scale: 1;
    z-index: 10;
}

#project2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#project2-first {
    height: 120vh;
    width: 23%;
    gap: 1.5vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 2vw;
}

#project2-first i {
    font-size: 8vw;
    color: transparent;
    padding: 7vw;
    -webkit-text-stroke: 0.4px #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: scale 0.3s ease-in-out;
}

#project2-first #arrow-p2 {
    height: 48vh;
    width: 22.5%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: scale 0.5s ease;
}

#arrow-p2 p {
    width: 90%;
    color: #000;
    text-align: center;
    font-family: "Plain Light";
    transition: color 0.5s ease;
}

#project2-first i:hover + #arrow-p2 {
    scale: 1;
    z-index: 10;
}

#project2-second {
    height: 105vh;
    width: 31%;
    gap: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    margin-top: 7.5vw;
}

#project2-second img {
    height: 80vh;
    width: 65vh;
    object-fit: cover;
}

#project2-second h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project2-second-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5vw;
}

#project2-third {
    height: 105vh;
    width: 31.5%;
    gap: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    padding-right: 5vw;
    padding-top: -5vw;
    margin-right: 2vw;
}

#project2-third #img-div img {
    height: 79vh;
    width: 31.25vw;
    object-fit: contain;
}

#project2-third h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project2-third-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project2-third-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project3{
    min-height: 100vh;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#project3-first {
    height: 87vh;
    width: 25%;
    gap: 1.5vw;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 4vw;
    border-bottom: 1px solid #ffffff;
    margin-top: -9.5vw;
}

#project3-first img {
    height: 65vh;
    width: 50vh;
    object-fit: cover;
}

#project3-first h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project3-first-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}

.project3-first-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 1vw;
}

#project3-second {
    height: 105vh;
    width: 23%;
    gap: 1.5vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 2vw;
}

#project3-second i {
    font-size: 8vw;
    color: transparent;
    padding: 7vw;
    -webkit-text-stroke: 0.4px #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: scale 0.3s ease-in-out;
}

#project3-second #arrow-p3 {
    height: 48vh;
    width: 22.5%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: scale 0.5s ease;
}

#arrow-p3 p {
    width: 90%;
    color: #000;
    text-align: center;
    font-family: "Plain Light";
    transition: color 0.5s ease;
}

#project3-second i:hover + #arrow-p3 {
    scale: 1;
    z-index: 10;
}

#project3-third {
    height: 105vh;
    width: 31.8%;
    gap: 1.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    padding-right: 5vw;
    margin-right: 2vw;
}

#project3-third img {
    height: 80vh;
    width: 63vh;
    object-fit: contain;
}

#project3-third h2 {
    font-size: 2.4vw;
    font-weight: 600;
}

.project3-third-h4 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 120%;
}

.project3-third-h4 h4 {
    font-size: 1vw;
    font-weight: 400;
    gap: 3vw;
}

#project4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 14vw;
}

#project4 h4 {
    height: 8vw;
    width: 8vw;
    padding: 11.5vw;
    background-color: #ffa63d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1vw;
    white-space: nowrap;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page4-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15%;
}

#page4-container-line {
    height: 0.1px;
    width: 65%;
    background-color: #ffffff;
    margin: 12vw;
    position: absolute;
    margin-left: 30%;
}

#page4-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
    width: 30%;
    padding-top: 2%;
}

#page4-left h2 {
    font-size: 3vw;
    font-weight: bold;
    font-family: "silk serif";
    position: absolute;
}

#page4-right {
    display: flex;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

#page4-right h1 {
    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#page4-p {
    margin-top: 8%;
    margin-left: 30%;
    width: 40%;
}

#page4-p p {
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 2.5vw;
    margin-top: 1vw;
    letter-spacing: 0.1vh;
}

#page4-img-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 14.5%;
}

#page4-img-txt img {
    height: 86vh;
    width: 70vh;
    object-fit: cover;
}

#page4-img-txt>p {
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.1vh;
    width: 22%;
    margin-top: -29vw;
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

#page4-blue {
    background-color: #3f7df4;
    height: 40vw;
    width: 32vw;
    padding: 4vw;
    position: relative;
    top: -14vw;
    left: 53%;
}

#blue-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5vw 0;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1vw;
}

#blue-elem p {
    font-size: 0.9vw;
    width: 35%;
    margin-left: 0.5vw;
}

#blue-elem h3 {
    font-size: 1.6vw;
    font-weight: 400;
    width: 55%;
    margin-left: -0.1vw;
}

#page4-line {
    height: 0.1px;
    width: 65%;
    background-color: #ffffff;
    margin: 12vw;
    margin-top: -3vw;
    position: absolute;
    margin-left: 30%;
}

#page4>h4 {
    font-size: 1vw;
    font-weight: 400;
    margin-left: 30%;
    margin-top: -1vw;
}

#page5 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    margin-top: 5%;
    position: relative;
}

#page5 span {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
}

#elem-left {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5%;
}

#elem-left h1 {
    font-size: 7vw;
    font-weight: 400 ;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    display: inline-block;
    animation-name: anime-left;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#elem-right {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5%;
}

#elem-right h1 {
    font-size: 7vw;
    font-weight: 400 ;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    display: inline-block;
    animation-name: anime-right;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime-right {
    to {
        transform: translateX(0);
    }
    from {
        transform: translateX(-100%);
    }
}

#footer {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

#footer-arrow {
    font-size: 9vw;
    color: transparent;
    -webkit-text-stroke: 0.4px #ffffff;
    margin-top: -1.5vw;
    margin-left: 1vw;
}

#footer-container-line {
    height: 0.1px;
    width: 65%;
    background-color: #ffffff;
    margin: 12vw;
    position: absolute;
    margin-left: 30%;
}

#footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4vw;
    padding-left: 18%;
    position: absolute;
    width: 30%;
    padding-top: 2%;
}

#footer-left h2 {
    font-size: 3vw;
    font-weight: bold;
    font-family: "silk serif";
    position: absolute;
}

#footer-right {
    display: flex;
    margin-left: 30%;
    height: 7.3vw;
    position: relative;
    overflow: hidden;
    width: 70%;
    letter-spacing: -0.2vw;
}

#footer-right h1 {
    font-size: 7.8vw;
    font-weight: 500 ;
    color: #ffffff;
    line-height: 6vw ;
}

#footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    margin-left: 30%;
    position: absolute;
    width: 55%;
    padding-top: 10%;
}

#socials {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#socials h4 {
    margin-bottom: 2vw;
}

#socials a {
    font-size: 1.5vw;
    color: #ffffff;
    text-decoration: none;
    -webkit-text-stroke: 0.1px #ffffff;
}

#add {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -13%;
}

#add h4 {
    margin-bottom: 2vw;
}

#hi {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -17%;
}

#hi h4 {
    margin-bottom: 2vw;
}

#hi a {
    font-size: 1.5vw;
    color: #ffffff;
    -webkit-text-stroke: 0.1px #ffffff;
}

#footer-link-line {
    height: 0.1px;
    width: 65%;
    background-color: #ffffff;
    margin-bottom: 12vw;
    position: absolute;
    margin-left: 30%;
    bottom: 0;
}

#footer-h4 {
    font-size: 1vw;
    font-weight: 400;
    margin-left: 30%;
    bottom: 1.5%;
    position: absolute;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}

@media (max-width: 600px){
    #page1 {
        height: 50vh;
        width: 100%;
        padding-top: 1px;
    }
    
    #page1 #nav {
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.7vw 4.6vw;
        position: fixed;
        top: 0;
        z-index: 9999999;
    }
    
    #nav1 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 72.8vw;
        padding-top: 2%;
        position: fixed;
        top: 0;
        z-index: 9999999;
    }

    #nav2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.6vw;
        display: none;
    }
    
    #nav2 h4 {
        font-size: 1vw;
        font-weight: 400;
    }
    
    #hero {
        display: flex;
        align-items: right;
        margin-left: 7%;
        height: 10vw;
        position: relative;
        overflow: hidden;
        width: 70%;
        letter-spacing: -0.2vw;
    }
    
    .hero1{
        margin-top: 32vw;
    }
    
    .hero3 {
        position: relative;
        z-index: 9;
    }
    
    .hero3 span {
        text-decoration: underline #ffffff solid 0.6vw;
    }
    
    .hero3 span:hover {
        -webkit-text-stroke: 0.5px #ffffff;
        color: transparent;
        text-decoration: none;
    }
    
    #hero h1 {
        font-size: 9.8vw;
        font-weight: 500 ;
        color: #ffffff;
        line-height: 10vw ;
    }
    
    #page1-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4vw;
        padding-left: 5.5%;
        position: absolute;
        margin-top: 18vw;
    }
    
    #page1-right {
        margin-left: -2.5%;
        margin-top: 45vw;
    }
    
    #page1-left h2 {
        font-size: 5vw;
        font-weight: 500;
        font-family: "silk serif";
        position: absolute;
        top: 40%;
        padding-top: 40%;
        margin-top: 16vw;
    }
    
    #flag {
        height: 25vw;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50% ,-50%);
        opacity: 0;
    }

    #page2 {
        height: 60vh;
        width: 100%;
        padding-top: 4vh;
        position: relative;
    }
    
    #vid {
        height: 45vh;
        width: 100%;
        left: 0;
        position: relative;
        overflow: hidden;
        background-image: url(./img&vid/vidimg.jpg);
    }
    
    #vid img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
    
    #vid video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #vid-crsr {
        height: 25vw;
        width: 25vw;
        position: absolute;
        border-radius: 50%;
        background-color: #ffa63d;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 28%;
        left: 50%;
        z-index: 99;
        font-size: 3.5vw;
        transform: translate(-50% ,-50%);
    }

    #page3 {
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 8%;
    }
    
    #page3-left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4vw;
        padding-left: 5%;
        position: absolute;
        width: 30%;
        padding-bottom: 80%;
    }
    
    #page3-left h2 {
        font-size: 5vw;
        font-weight: bold;
        font-family: "silk serif";
        position: absolute;
        top: -15%;
    }
    
    #page3-right {
        display: flex;
        margin-left: 5%;
        height: 7.3vw;
        position: relative;
        overflow: hidden;
        width: 70%;
        letter-spacing: -0.2vw;
    }
    
    #page3-right h1 {
        font-size: 9.8vw;
        font-weight: 500 ;
        color: #ffffff;
        line-height: 6vw ;
    }
    
    #page3-line {
        height: 2px;
        width: 90%;
        background-color: #ffffff;
        margin: 12vw;
        position: absolute;
        margin-left: 5%;
    }

    #projects {
        min-height: 100vh;
        width: 92%;
        margin-top: 2vw;
    }
    
    #project1{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #project1-first {
        height: 87vh;
        width: 100%;
        gap: 1.5vw;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-top: -2vw;
        overflow: hidden;
        position: relative;
    }
    
    #project1-first #img-div{
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    #project1-first #img-div img {
        height: 80%;
        width: 100%;
        object-fit: cover;
    }
    
    #project1-first h2 {
        font-size: 5.4vw;
        font-weight: 600;
        padding-bottom: 2vw;
    }
    
    .project1-first-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 2.5vw;
        padding-top: 2vw;
    }
    
    .project1-first-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }
    
    #project1-second {
        height: 67vh;
        width: 99%;
        gap: 1.5vw;
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    #project1-second img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #project1-second h1 {
        font-size: 5.4vw;
        font-weight: 600;
        display: flex;
        align-items: flex-start;
        margin: -2vw;
        padding-left: 2vw;
        padding-bottom: 1vw;
    }
    
    .project1-second-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }
    
    .project1-second-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }
    
    #project1-third {
        display: none;
    }

    #project2 {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #project2-first {
        display: none;
    }
    
    #project2-second {
        height: 65vh;
        width: 100%;
        gap: 1.5vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-top: 7.5vw;
        margin-left: 4%;
        margin-bottom: 7%;
    }
    
    #project2-second img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #project2-second h2 {
        font-size: 5.4vw;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .project2-second-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1.5vw;
        margin-top: 5%;
    }

    .project2-second-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }
    
    #project2-third {
        height: 87vh;
        width: 100%;
        gap: 1.5vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-top: 7.5vw;
        margin-left: 4%;
        margin-bottom: 30%;
    }
    
    #project2-third #img-div {
        height: 85%;
        width: 105%;
    }

    #project2-third img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    #project2-third h2 {
        font-size: 5.4vw;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .project2-third-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
        margin-top: 5%;
    }

    .project2-third-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }

    #project3{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 4%;
    }
    
    #project3-first {
        height: 87vh;
        width: 100%;
        gap: 1.5vw;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-left: 0%;
        margin-bottom: 10%;
    }
    
    #project3-first #img-div {
        height: 85%;
        width: 100%;
        margin-bottom: 2%;
    }

    #project3-first img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #project3-first h2 {
        font-size: 6.4vw;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .project3-first-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }
    
    .project3-first-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }
    
    #project3-second {
        display: none;
    }
    
    #project3-third {
        height: 80vh;
        width: 100%;
        gap: 1.5vw;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: column;
        border-bottom: 1px solid #ffffff;
        margin-left: 0%;
        margin-top: 10%;
    }
    
    #project3-third #img-div {
        height: 80%;
        width: 105%;
        margin-bottom: 2%;
    }

    #project3-third img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #project3-third h2 {
        font-size: 6.4vw;
        font-weight: 600;
        margin-bottom: 2%;
    }
    
    .project3-third-h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 105%;
        margin-top: 5%;
    }
    
    .project3-third-h4 h4 {
        font-size: 4vw;
        font-weight: 400;
        gap: 1vw;
    }
    
}